:root {
<<<<<<< HEAD
  --primary-color: rgb(0, 189, 47);
  --box-color: rgb(194, 0, 0);
  --box-widh: 0;
  --bg-color: rgb(255, 255, 255);
  --top: 0;
  --left: 0;
=======
  --bg-color: #111;
  --box-size: 0;
  --box-position-x: 0;
  --box-position-y: 0;
>>>>>>> 250d2cf9a1120364232fd6e8ec944624595211e0
}

/* Variables SASS */
